{{ template "header" }}
<form method="post" action="accountsetpw">
	<fieldset>
		<legend>Change account password</legend>

		<div>
			<label for="password">New password</label>
			<input type="password" id="password" name="new_password" required />
		</div>

		<div>
			<label for="password2">New password <span>(repeat)</span></label>
			<input type="password" id="password2" name="new_password2" required />
		</div>

		<hr />

		<div>
			<label for="name">Name</label>
			<input type="text" id="name" name="name" maxlength="140" required />
		</div>

		<div>
			<label for="password-old">Current password</label>
			<input type="password" id="password-old" name="password" required />
		</div>

		<hr />

		<button type="submit">Update</button>
	</fieldset>
</form>
{{ template "footer" }}
