{{ template "header" }}
<form method="post" action="feeds">
	<fieldset>
		<legend>Send tweet</legend>

		<div>
			<label for="twt">Message</label>
			<input type="text" id="twt" name="twt" maxlength="140" placeholder="What’s happening?" aria-describedby="txt-desc" required />
			<p id="txt-desc"><abbr title="Maximum">Max.</abbr> 140 characters</p>
		</div>

		<div>
			<label for="name">Name</label>
			<input type="text" id="name" name="name" required />
		</div>
		
		<div>
			<label for="password">Password</label>
			<input type="password" id="password" name="password" required />
		</div>

		<hr />

		<button type="submit">Publish</button>
	</fieldset>
</form>
{{ template "footer" }}
