<html>
    <h1>publish a twtxt</h1>
    <form method="POST" action="feeds">
        Message: <input type="text" name="twt" size="140" /><br />
        Name: <input type="text" name="name" />
        Password: <input type="password" name="password" /><br />
        <input type="submit" value="twt" />
    </form>
    No feed yet? <a href="/signup">Create one!</a><br />
    Also, check out <a href="/feeds">other people's feeds</a> …<br />
    Or <a href="/account">edit your account settings</a>.
{{ template "footer" }}
