{{ template "header" }}
<form method="post" action="signup">
	<fieldset>
		<legend>Create account</legend>

		<div>
			<label for="name">Name</label>
			<input type="text" id="name" name="name" maxlength="140" aria-describedby="name-rules" pattern="[a-zA-Z0-9_]{1,140}" required />
			<p id="name-desc">Legal characters: A-Z, a-z, 0-9, _ (<abbr title="maximum">max.</abbr> 140)</p>
		</div>

		<div>
			<label for="mail">E-mail address <span>(optional)</span></label>
			<input type="email" id="mail" name="mail" aria-describedby="mail-desc"/>
			<p id="mail-desc">Used for password reset and feed owner authentication.</p>
		</div>
		
		<div>
			<label for="password">Password</label>
			<input type="password" id="password" name="new_password" required />
		</div>

		<div>
			<label for="password2">Password <span>(repeat)</span></label>
			<input type="password" id="password2" name="new_password2" required />
		</div>

		<hr />
		
		<button type="submit">Sign up</button>
	</fieldset>
</form>
{{ template "footer" }}
