<html>
    <h1>sign up</h1>
    <form method="POST" action="/signup">
        Name: <input type="text" name="name" /> (only up to 140 legal chars: A-Z, a-z, 0-1, _)<br />
        Password: <input type="password" name="new_password" /><br />
        Password (repeat): <input type="password" name="new_password2" /><br />
        E-mail: <input type="text" name="mail" /> (optional; stored internally to reach and/or identify you when there's trouble with your feed, you want to reset your password, etc.; in any such communication, communicating from an address provided here is a necessary condition for you to be treated as the owner of your feed)<br />
        <input type="submit" value="create" />
    </form>
{{ template "footer" }}
